/* Style inputs with type="text", select elements and textareas */

input[type=text], select, textarea {
    /* Full width */
    width: 100%;
    /* Some padding */
    padding: 12px;
    /* Gray border */
    border: 1px solid #ccc;
    /* Rounded borders */
    border-radius: 4px;
    /* Make sure that padding and width stays in place */
    box-sizing: border-box;
    /* Add a top margin */
    margin-top: 6px;
    /* Bottom margin */
    margin-bottom: 16px;
    /* Allow the user to vertically resize the textarea (not horizontally) */
    resize: vertical
}


/* Add a background color and some padding around the form */

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    max-width: 670px !important;
}

.submit-button {
    float: left;
}