*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
}

body
{
  color: #414141;
  background-color: #EEEEEE;
}

h1, h2, h3, h4, h5, h6
{
  font-family: "Helvetica", "Arial", sans-serif;
}
h1
{
  font-size: 36px;
  padding: 16px 16px 8px 16px;
  border-bottom: 1px solid #5D6063;
  background-color: #DDE0E3;    /* Light gray */
}
h2
{
  font-size: 26px;
}

p
{
  padding: 12px;
}

/* em
{
    color: #906015;
} */



.byu-logo{
  margin: 10px;
}

.about-body
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Header */
.header{
  float: auto;
}

body {margin-top:40px;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2F5583;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
    border-right: 1px solid #5378A4;
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #14365E;
}

.active {
  background-color: #C8693C;
}

/* Footer */
.footer {
  position: fixed;
  Width: 100%;
  bottom: 0;
  height: 20px;
  background-color: #FA9F73;
  display: flex;
  justify-content: space-between;
}

#year {
  font-size: 12px;
  padding: 2px;
}

#name {
  font-size: 12px;
  padding: 2px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: white;
  }
  .header{
    display: flex;
    justify-content: space-between;
  }

  .header-element {
    font-size: 14.899px;
    padding: 0;
    margin: 0;
  }
}